RewriteEngine on

#RewriteCond %{HTTP_HOST} ^cdn.dev-php.site$ [NC,OR]
#RewriteCond %{HTTP_HOST} ^www.cdn.dev-php.site$
#RewriteCond %{REQUEST_URI} !public/
#RewriteRule (.*) /public/$1 [L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^http://localhost/_dev-php/cdn-home/ [NC,OR]
RewriteCond %{HTTP_HOST} ^http://localhost/_dev-php/cdn-home/$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /folder/$1 [L]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?api.dev-php.site [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?blog.dev-php.site [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?cdn.dev-php.site [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?client.dev-php.site [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?code.dev-php.site [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?coverage.dev-php.site [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?portfolio.dev-php.site [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?staging.dev-php.site [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?test.dev-php.site [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]